In [40]:
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, StringType, FloatType, StructType, StructField,ArrayType, DateType,TimestampType
spark = SparkSession.builder.appName("Python Spark SQL basic example").config("spark.some.config.option", "some-value").getOrCreate()
#from pyspark.sql.functions import udf, col,size,lit,rank, split, countDistinct, lag
from pyspark.sql import functions as F
from pyspark.sql.window import Window
sc = spark.sparkContext
import pandas as pd
from datetime import datetime

## Read Data

In [41]:
schema = StructType([
    StructField("timestamp_str", StringType(), True),
    StructField("elb", StringType(), True),
    StructField("client_port", StringType(), True),
    StructField("backend_port", StringType(), True),
    StructField("request_processing_time", FloatType(), True),
    StructField("backend_processing_time", FloatType(), True),
    StructField("response_processing_time", FloatType(), True),
    StructField("elb_status_code", StringType(), True),
    StructField("backend_status_code", StringType(), True),
    StructField("received_bytes", FloatType(), True),
    StructField("sent_bytes", FloatType(), True),
    StructField("request", StringType(), True),
    StructField("user_agent", StringType(), True),
    StructField("ssl_cipher", StringType(), True),
    StructField("ssl_protocol", StringType(), True),])
df=spark.read.option("delimiter", " ").csv("data/2015_07_22_mktplace_shop_web_log_sample.log.gz", schema=schema, header = False)
def format_time(ts):
    return datetime.strptime(ts, "%Y-%m-%dT%H:%M:%S.%fZ")
func_format_time=F.udf(format_time,TimestampType())
#print format_time("2015-07-22T09:00:28.019143Z")
df = df.withColumn("timestamp",func_format_time(df.timestamp_str))
split_col1 = F.split(df['client_port'], ':')
split_col2 = F.split(df['request'], ' ')
df = df.withColumn('client_ip', split_col1.getItem(0))
df = df.withColumn('port', split_col1.getItem(1))
df = df.withColumn('url', split_col2.getItem(1))
df = df.orderBy('client_ip', 'timestamp','url')
df.printSchema()
df.persist()
#print df.count()
#1158500

root
 |-- timestamp_str: string (nullable = true)
 |-- elb: string (nullable = true)
 |-- client_port: string (nullable = true)
 |-- backend_port: string (nullable = true)
 |-- request_processing_time: float (nullable = true)
 |-- backend_processing_time: float (nullable = true)
 |-- response_processing_time: float (nullable = true)
 |-- elb_status_code: string (nullable = true)
 |-- backend_status_code: string (nullable = true)
 |-- received_bytes: float (nullable = true)
 |-- sent_bytes: float (nullable = true)
 |-- request: string (nullable = true)
 |-- user_agent: string (nullable = true)
 |-- ssl_cipher: string (nullable = true)
 |-- ssl_protocol: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- client_ip: string (nullable = true)
 |-- port: string (nullable = true)
 |-- url: string (nullable = true)

In [42]:
pdf_distinct_vals=df.agg(*(F.countDistinct(F.col(c)).alias(c) for c in df.columns)).toPandas()
pdf_distinct_vals.reset_index().T

                                0
index                           0
timestamp_str             1158272
elb                             1
client_port                404391
backend_port                   25
request_processing_time        68
backend_processing_time    116722
response_processing_time      244
elb_status_code                27
backend_status_code            28
received_bytes               2038
sent_bytes                   5873
request                    221839
user_agent                  13482
ssl_cipher                      9
ssl_protocol                    5
timestamp                 1158272
client_ip                   90544
port                        62920
url                        220629

In [43]:
df.agg(F.min("timestamp").alias("earliest_time"), F.max("timestamp").alias("latest_time")).toPandas().T

                                       0
earliest_time 2015-07-22 02:40:06.499174
latest_time   2015-07-22 21:10:27.993803

In [45]:
from datetime import datetime
def get_time_diff_old(ts,ts_prev):
    if ts_prev is None:
        return -1.0
    else:
        fmt = '%Y-%m-%d %H:%M:%S'
        #ts = datetime.strptime(ts, fmt)
        #ts_prev = datetime.strptime(ts_prev, fmt)
        td = ts - ts_prev
        #td_mins = round(td.total_seconds() / 60.0,2)
        td_secs = td.total_seconds()
        return td_secs
def get_time_diff(ts,ts_prev):
    if ts_prev is None:
        return -1.0
    else:
        td = ts - ts_prev
        td_secs = td.total_seconds()
        return td_secs
func_get_time_diff=F.udf(get_time_diff,FloatType())

def session_change_flag(request_secs,time_window):
    request_mins=request_secs/60.0
    if request_secs==-1.0 or request_mins>=time_window:
        return 1
    else:
        return 0
func_session_change_flag=F.udf(session_change_flag,IntegerType())

In [46]:
my_window = Window.partitionBy('client_ip').orderBy('timestamp','url')
df = df.withColumn("prev_timestamp",F.lag(df.timestamp).over(my_window))
df = df.withColumn("diff_timestamp_secs",func_get_time_diff(df.timestamp,df.prev_timestamp))
df = df.withColumn("session_flag",func_session_change_flag(df.diff_timestamp_secs,F.lit(10)))
df = df.withColumn('session_id_temp', F.sum('session_flag').over(my_window))
df = df.withColumn('session_id',F.concat(F.col('client_ip'),F.lit('_'), F.col('session_id_temp')))
df = df.orderBy('client_ip', 'timestamp','url')
df.printSchema()

root
 |-- timestamp_str: string (nullable = true)
 |-- elb: string (nullable = true)
 |-- client_port: string (nullable = true)
 |-- backend_port: string (nullable = true)
 |-- request_processing_time: float (nullable = true)
 |-- backend_processing_time: float (nullable = true)
 |-- response_processing_time: float (nullable = true)
 |-- elb_status_code: string (nullable = true)
 |-- backend_status_code: string (nullable = true)
 |-- received_bytes: float (nullable = true)
 |-- sent_bytes: float (nullable = true)
 |-- request: string (nullable = true)
 |-- user_agent: string (nullable = true)
 |-- ssl_cipher: string (nullable = true)
 |-- ssl_protocol: string (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- client_ip: string (nullable = true)
 |-- port: string (nullable = true)
 |-- url: string (nullable = true)
 |-- prev_timestamp: timestamp (nullable = true)
 |-- diff_timestamp_secs: float (nullable = true)
 |-- session_flag: integer (nullable = true)
 |-- session_id_temp: long (nullable = true)
 |-- session_id: string (nullable = true)

In [77]:
#df_sessions=df.groupBy("session_id").agg(F.min("timestamp").alias("session_start_time"), F.max("timestamp").alias("session_end_time"))
df_sessions=df.groupBy("session_id").agg(F.min("timestamp").alias("session_start_time"), F.max("timestamp").alias("session_end_time"), F.countDistinct("url").alias("unique_urls"),F.count("url").alias("total_urls"))
df_sessions = df_sessions.withColumn("session_duration_secs",func_get_time_diff(df_sessions.session_end_time,df_sessions.session_start_time))
split_col3 = F.split(df_sessions['session_id'], '_')
df_sessions = df_sessions.withColumn('client_ip', split_col3.getItem(0))
df_sessions = df_sessions.withColumn('session_number', split_col3.getItem(1))
df_sessions = df_sessions.orderBy('session_id')
df_sessions.persist()

DataFrame[session_id: string, session_start_time: timestamp, session_end_time: timestamp, unique_urls: bigint, total_urls: bigint, session_duration_secs: float, client_ip: string, session_number: string]

### Ignore session with just one url

In [66]:
count_total_sessions=df_sessions.count()
count_single_urls_sessions=df_sessions.where(F.col('total_urls')==1).count()
df_sessions=df_sessions.where(F.col('total_urls')!=1)
count_filtered_sessions=df_sessions.count()
print '# total entries: ', df.count()
print '# total sessions: ', count_total_sessions
print '# single url sessions: ', count_single_urls_sessions
print '# filtered url sessions: ', count_filtered_sessions

# total entries:  1158500
# total sessions:  114244
# single url sessions:  22721
# filtered url sessions:  91523

## 1. Sessionize the web log by IP. Sessionize = aggregrate all page hits by visitor/IP during a session.

In [47]:
cols=['client_ip','timestamp','prev_timestamp','diff_timestamp_secs','session_flag','session_id','url']
df[cols].toPandas().head(50)

,client_ip,timestamp,prev_timestamp,diff_timestamp_secs,session_flag,session_id,url
0,1.186.101.79,2015-07-22 10:45:55.881199,NaT,-1.000000,1,1.186.101.79_1,https://paytm.com:443/shop/wallet/balance?chan...
1,1.186.101.79,2015-07-22 10:45:55.885488,2015-07-22 10:45:55.881199,0.004289,0,1.186.101.79_1,https://paytm.com:443/shop/wallet/txnhistory?p...
2,1.186.101.79,2015-07-22 10:46:27.839734,2015-07-22 10:45:55.885488,31.954247,0,1.186.101.79_1,https://paytm.com:443/shop/v1/frequentorders?c...
3,1.186.101.79,2015-07-22 10:46:56.591943,2015-07-22 10:46:27.839734,28.752209,0,1.186.101.79_1,https://paytm.com:443/papi/v1/expresscart/verify
4,1.186.101.79,2015-07-22 10:47:01.782695,2015-07-22 10:46:56.591943,5.190752,0,1.186.101.79_1,https://paytm.com:443/api/v1/expresscart/check...
5,1.186.101.79,2015-07-22 10:47:06.893987,2015-07-22 10:47:01.782695,5.111292,0,1.186.101.79_1,https://paytm.com:443/shop/summary/1116587591
6,1.186.101.79,2015-07-22 10:47:07.616869,2015-07-22 10:47:06.893987,0.722882,0,1.186.101.79_1,https://paytm.com:443/shop/cart?channel=web&ve...
7,1.186.101.79,2015-07-22 10:47:07.844446,2015-07-22 10:47:07.616869,0.227577,0,1.186.101.79_1,https://paytm.com:443/shop/orderdetail/1116587...
8,1.186.101.79,2015-07-22 10:47:18.072370,2015-07-22 10:47:07.844446,10.227924,0,1.186.101.79_1,https://paytm.com:443/shop/orderdetail/1116587...
9,1.186.101.79,2015-07-22 10:47:28.084661,2015-07-22 10:47:18.072370,10.012291,0,1.186.101.79_1,https://paytm.com:443/shop/orderdetail/1116587...
10,1.186.101.79,2015-07-22 10:47:38.076241,2015-07-22 10:47:28.084661,9.991580,0,1.186.101.79_1,https://paytm.com:443/shop/orderdetail/1116587...
11,1.186.101.79,2015-07-22 10:47:38.352991,2015-07-22 10:47:38.076241,0.276750,0,1.186.101.79_1,https://paytm.com:443/shop/action
12,1.186.101.79,2015-07-22 10:47:51.042093,2015-07-22 10:47:38.352991,12.689102,0,1.186.101.79_1,https://paytm.com:443/shop/summary/1116587591
13,1.186.101.79,2015-07-22 10:47:52.170667,2015-07-22 10:47:51.042093,1.128574,0,1.186.101.79_1,https://paytm.com:443/shop/cart?channel=web&ve...
14,1.186.101.79,2015-07-22 10:47:52.328496,2015-07-22 10:47:52.170667,0.157829,0,1.186.101.79_1,https://paytm.com:443/shop/orderdetail/1116587...
15,1.186.101.79,2015-07-22 10:48:02.545881,2015-07-22 10:47:52.328496,10.217385,0,1.186.101.79_1,https://paytm.com:443/shop/orderdetail/1116587...
16,1.186.101.79,2015-07-22 10:48:12.906481,2015-07-22 10:48:02.545881,10.360600,0,1.186.101.79_1,https://paytm.com:443/shop/orderdetail/1116587...
17,1.186.101.79,2015-07-22 10:48:22.503696,2015-07-22 10:48:12.906481,9.597215,0,1.186.101.79_1,https://paytm.com:443/shop/orderdetail/1116587...
18,1.186.101.79,2015-07-22 10:48:22.815324,2015-07-22 10:48:22.503696,0.311628,0,1.186.101.79_1,https://paytm.com:443/shop/action
19,1.186.101.79,2015-07-22 11:00:44.001763,2015-07-22 10:48:22.815324,741.186462,1,1.186.101.79_2,https://paytm.com:443/shop/summary/1116609548
20,1.186.101.79,2015-07-22 11:00:44.895452,2015-07-22 11:00:44.001763,0.893689,0,1.186.101.79_2,https://paytm.com:443/shop/cart?channel=web&ve...
21,1.186.101.79,2015-07-22 11:00:45.025368,2015-07-22 11:00:44.895452,0.129916,0,1.186.101.79_2,https://paytm.com:443/shop/orderdetail/1116609...
22,1.186.101.79,2015-07-22 11:00:50.329938,2015-07-22 11:00:45.025368,5.304570,0,1.186.101.79_2,https://paytm.com:443/shop/v1/frequentorders?c...
23,1.186.101.79,2015-07-22 11:00:55.782460,2015-07-22 11:00:50.329938,5.452522,0,1.186.101.79_2,https://paytm.com:443/shop/orderdetail/1116609...
24,1.186.101.79,2015-07-22 11:00:55.872936,2015-07-22 11:00:55.782460,0.090476,0,1.186.101.79_2,https://paytm.com:443/shop/wallet/txnhistory?p...
25,1.186.101.79,2015-07-22 11:00:55.981495,2015-07-22 11:00:55.872936,0.108559,0,1.186.101.79_2,https://paytm.com:443/shop/wallet/balance?chan...
26,1.186.101.79,2015-07-22 11:01:05.220903,2015-07-22 11:00:55.981495,9.239408,0,1.186.101.79_2,https://paytm.com:443/shop/orderdetail/1116609...
27,1.186.101.79,2015-07-22 11:01:15.235271,2015-07-22 11:01:05.220903,10.014368,0,1.186.101.79_2,https://paytm.com:443/shop/orderdetail/1116609...
28,1.186.101.79,2015-07-22 11:01:15.474375,2015-07-22 11:01:15.235271,0.239104,0,1.186.101.79_2,https://paytm.com:443/shop/action
29,1.186.101.79,2015-07-22 11:04:32.006984,2015-07-22 11:01:15.474375,196.532608,0,1.186.101.79_2,https://paytm.com:443/paytmwallet
30,1.186.101.79,2015-07-22 11:04:33.269296,2015-07-22 11:04:32.006984,1.262312,0,1.186.101.79_2,https://paytm.com:443/shop/wallet/txnhistory?p...
31,1.186.101.79,2015-07-22 11:04:33.419972,2015-07-22 11:04:33.269296,0.150676,0,1.186.101.79_2,https://paytm.com:443/shop/wallet/balance?chan...
32,1.186.101.79,2015-07-22 11:04:33.423920,2015-07-22 11:04:33.419972,0.003948,0,1.186.101.79_2,https://paytm.com:443/shop/cart?channel=web&ve...
33,1.186.103.240,2015-07-22 17:41:09.173604,NaT,-1.000000,1,1.186.103.240_1,https://paytm.com:443/shop/summary/1118045869
34,1.186.103.240,2015-07-22 17:41:10.025274,2015-07-22 17:41:09.173604,0.851670,0,1.186.103.240_1,https://paytm.com:443/shop/cart?channel=web&ve...
35,1.186.103.240,2015-07-22 17:41:10.230524,2015-07-22 17:41:10.025274,0.205250,0,1.186.103.240_1,https://paytm.com:443/shop/orderdetail/1118045...
36,1.186.103.240,2015-07-22 17:41:10.773779,2015-07-22 17:41:10.230524,0.543255,0,1.186.103.240_1,https://paytm.com:443/shop/summary/1118045869
37,1.186.103.240,2015-07-22 17:41:20.570083,2015-07-22 17:41:10.773779,9.796304,0,1.186.103.240_1,https://paytm.com:443/shop/orderdetail/1118045...
38,1.186.103.240,2015-07-22 17:41:20.701143,2015-07-22 17:41:20.570083,0.131060,0,1.186.103.240_1,https://paytm.com:443/api/user/favourite?chann...
39,1.186.103.240,2015-07-22 17:41:20.784621,2015-07-22 17:41:20.701143,0.083478,0,1.186.103.240_1,https://paytm.com:443/images/greyStar.png
40,1.186.103.78,2015-07-22 10:47:42.681800,NaT,-1.000000,1,1.186.103.78_1,https://paytm.com:443/
41,1.186.103.78,2015-07-22 10:47:46.182883,2015-07-22 10:47:42.681800,3.501083,0,1.186.103.78_1,https://paytm.com:443/shop/cart?channel=web&ve...
42,1.186.103.78,2015-07-22 10:47:51.458039,2015-07-22 10:47:46.182883,5.275156,0,1.186.103.78_1,https://paytm.com:443/favicon.ico
43,1.186.103.78,2015-07-22 10:47:51.682285,2015-07-22 10:47:51.458039,0.224246,0,1.186.103.78_1,https://paytm.com:443/shop/login?isIframe=true...
44,1.186.108.213,2015-07-22 16:21:11.280416,NaT,-1.000000,1,1.186.108.213_1,https://paytm.com:443/shop/cart?channel=web&ve...
45,1.186.108.213,2015-07-22 16:23:04.187481,2015-07-22 16:21:11.280416,112.907066,0,1.186.108.213_1,https://paytm.com:443/shop/user/address?channe...
46,1.186.108.230,2015-07-22 16:11:27.866483,NaT,-1.000000,1,1.186.108.230_1,https://paytm.com:443/shop/summary/1117826202
47,1.186.108.230,2015-07-22 16:11:31.560541,2015-07-22 16:11:27.866483,3.694058,0,1.186.108.230_1,https://paytm.com:443/shop/cart?channel=web&ve...
48,1.186.108.230,2015-07-22 16:11:33.158077,2015-07-22 16:11:31.560541,1.597536,0,1.186.108.230_1,https://paytm.com:443/shop/orderdetail/1117826...
49,1.186.108.230,2015-07-22 16:11:37.517668,2015-07-22 16:11:33.158077,4.359591,0,1.186.108.230_1,https://paytm.com:443/api/user/favourite?chann...

* In the above results we can see that for '1.186.101.79' there are two sessions

### 2. Determine the average session time

In [67]:
avg_session_time=round(df_sessions.select(F.avg("session_duration_secs").alias('avg_session_duration')).collect()[0]['avg_session_duration'],3)
print '# Average Session Time in Seconds: ',avg_session_time
# Average Session Time in Seconds:  94.537

# Average Session Time in Seconds:  94.537

### 3. Determine unique URL visits per session. To clarify, count a hit to a unique URL only once per session.

In [69]:
df_sessions.limit(100).toPandas()[['session_id','total_urls','unique_urls']].head(20)

         session_id  total_urls  unique_urls
0    1.186.101.79_1          19            9
1    1.186.101.79_2          14            8
2   1.186.103.240_1           7            5
3    1.186.103.78_1           4            4
4   1.186.108.213_1           2            2
5   1.186.108.230_1           5            5
6   1.186.108.242_1           3            3
7    1.186.108.28_1          80           80
8    1.186.108.29_1           3            3
9    1.186.108.79_1           3            3
10  1.186.111.224_1           6            6
11  1.186.111.224_2           3            3
12  1.186.111.224_3          15           12
13   1.186.112.12_1           3            3
14   1.186.112.52_1          16           16
15  1.186.114.135_1           4            2
16   1.186.114.45_1           6            6
17   1.186.128.57_1           9            8
18  1.186.129.213_1          11            6
19  1.186.135.123_1          15           11

### 4. Find the most engaged users, ie the IPs with the longest session times

### 4.1 Approch 1: considering different sessions

In [78]:
df_sessions_order_session_time=df_sessions.orderBy('session_duration_secs',ascending=False)
pdf_sessions_order_session_time=df_sessions_order_session_time.toPandas()
pdf_sessions_order_session_time.head(20)

,session_id,session_start_time,session_end_time,unique_urls,total_urls,session_duration_secs,client_ip,session_number
0,125.19.44.66_5,2015-07-22 10:30:28.187923,2015-07-22 10:49:52.669247,363,653,1164.481323,125.19.44.66,5
1,52.74.219.71_5,2015-07-22 10:30:28.220275,2015-07-22 10:49:52.557803,7599,8858,1164.337524,52.74.219.71,5
2,119.81.61.166_5,2015-07-22 10:30:28.314707,2015-07-22 10:49:52.643168,1307,1381,1164.328491,119.81.61.166,5
3,106.186.23.95_5,2015-07-22 10:30:28.615543,2015-07-22 10:49:52.305445,2112,2208,1163.689941,106.186.23.95,5
4,182.66.36.72_1,2015-07-22 10:30:28.168381,2015-07-22 10:49:50.986961,10,28,1162.818604,182.66.36.72,1
5,59.144.58.37_5,2015-07-22 10:30:28.992848,2015-07-22 10:49:51.631006,233,438,1162.638184,59.144.58.37,5
6,54.251.151.39_5,2015-07-22 10:30:30.025377,2015-07-22 10:49:52.635245,5,1181,1162.609863,54.251.151.39,5
7,196.15.16.102_4,2015-07-22 10:30:29.295367,2015-07-22 10:49:51.732297,57,84,1162.436890,196.15.16.102,4
8,103.29.159.186_2,2015-07-22 10:30:29.284428,2015-07-22 10:49:51.711237,2,246,1162.426758,103.29.159.186,2
9,180.211.69.209_4,2015-07-22 10:30:28.361971,2015-07-22 10:49:50.188754,53,81,1161.826782,180.211.69.209,4
10,103.49.225.210_2,2015-07-22 10:30:30.642113,2015-07-22 10:49:51.887154,99,167,1161.244995,103.49.225.210,2
11,188.40.135.194_2,2015-07-22 10:30:29.401439,2015-07-22 10:49:50.539952,231,231,1161.138550,188.40.135.194,2
12,125.20.39.66_4,2015-07-22 10:30:28.338319,2015-07-22 10:49:48.743300,198,323,1160.405029,125.20.39.66,4
13,54.240.199.105_5,2015-07-22 10:30:32.224528,2015-07-22 10:49:52.591500,74,130,1160.366943,54.240.199.105,5
14,103.4.125.25_3,2015-07-22 10:30:28.647159,2015-07-22 10:49:49.008702,133,379,1160.361572,103.4.125.25,3
15,121.241.96.5_3,2015-07-22 10:30:32.295589,2015-07-22 10:49:52.309862,152,207,1160.014282,121.241.96.5,3
16,203.191.34.178_2,2015-07-22 10:30:30.999963,2015-07-22 10:49:50.197810,146,246,1159.197876,203.191.34.178,2
17,115.250.117.214_1,2015-07-22 10:30:30.102919,2015-07-22 10:49:48.472710,26,56,1158.369751,115.250.117.214,1
18,103.29.159.213_2,2015-07-22 10:30:28.550783,2015-07-22 10:49:46.867507,62,691,1158.316772,103.29.159.213,2
19,203.91.192.4_3,2015-07-22 10:30:32.550060,2015-07-22 10:49:50.551232,120,277,1158.001221,203.91.192.4,3

### 4.2 Approch 2: considering average session time

In [80]:
df_sessions_avg=df_sessions.groupBy("client_ip").agg(F.count("session_number").alias("number_of_session"), F.avg("session_duration_secs").alias("avg_session_time")).orderBy('avg_session_time',ascending=False)
df_sessions_avg.limit(100).toPandas().head(20)

          client_ip  number_of_session  avg_session_time
0      182.66.36.72                  1       1162.818604
1     49.202.59.215                  1       1157.597168
2      59.91.249.99                  1       1141.681519
3    180.215.72.113                  1       1139.791504
4       61.8.146.66                  1       1139.737549
5       1.23.30.226                  1       1134.829224
6    60.254.126.213                  1       1134.290649
7    117.203.81.246                  1       1130.084229
8      112.79.36.86                  1       1129.544189
9      125.22.34.83                  1       1129.238037
10   117.218.41.153                  1       1127.809937
11     120.63.83.82                  1       1125.083740
12  117.203.152.113                  1       1124.453491
13      101.0.38.70                  1       1121.303955
14    59.93.106.144                  1       1109.142334
15   14.139.211.210                  1       1104.835449
16   122.180.117.90                  1       1103.604736
17    117.198.33.81                  1       1103.576172
18    37.228.107.10                  1       1100.393066
19   119.226.35.110                  1       1099.911743